@model string

<div class="container" style="background-color:white;width:600px;">
    <H3>Ваш заказ № @Model принят</H3>
    <p>Наши менеджеры в ближайшее время свяжутся с Вами для уточнения деталей.</p>
    <p><strong>Спасибо за заказ!</strong></p>
    <hr />
    <p>
        <em>
            Если у Вас остались вопросы, то Вы можете позвонить нам по телефону:
            8(922)188-29-29, либо связаться по email: <a href='mailto:sales@kamenmarket.com'>sales@kamenmarket.com</a>.
        </em>
    </p>

    <div class="row">
        <div class="col-md-5">

            <span class="mfp-close btn btn-ghost btn-primary form-control">Продолжить заказы</span>
        </div>
        <div class="col-md-2"></div>
    </div>





</div>