@model string

<H3>Ваш заказ на прайс исполнен</H3>
<p>Прайс отправлен на укзанный Вами адрес электронной почты.</p>
<p><strong>Спасибо за заказ!</strong></p>
<hr />
<p>
    <em>
        Если у Вас остались вопросы, то Вы можете позвонить нам по телефону:
        8(922)188-29-29, либо связаться по email: <a href='mailto:sales@kamenmarket.com'>sales@kamenmarket.com</a>.
    </em>
</p>

<span onclick="$.fancybox.close();" class="btn btn-ghost btn-primary">Продолжить заказы</span>

