@model string

<H3>Ваша заявка на обратный звонок принята</H3>
<p>Наши менеджеры в ближайшее время свяжутся с Вами.</p>
<p><strong>Спасибо за заявку!</strong></p>
<hr />
<p>
    <em>
        Если у Вас остались вопросы, то Вы можете позвонить нам по телефону:
        8(800)550-4-880, либо связаться по email: <a href='mailto:kamen.bash@yandex.ru'>kamen.bash@yandex.ru</a>.
    </em>
</p>

<span onclick="$.fancybox.close();" class="btn btn-ghost btn-primary">Продолжить заказы</span>


