<header class="navbar navbar-sticky">
    <div class="container">
        <!-- Logo icon width can be adjusted trough the variable 'logo-img-max-width' in less/variables.less. The logo width (icon + text) can be adjusted trough the variable 'logo-max-width' in less/variables.less. -->
        <a href="index.html" class="logo">
            <img src="~/img/logo/logo003.png" alt="Лемезит">
            <span style="top: 4px; position: relative;">Лемезит</span>
        </a>

        <!-- Site Navigation -->
        <nav class="navbar-nav" id="site-menu">


            <!-- Navigation -->
            <ul>
                <li class="has-mega-menu active">
                    <a href="~/admin/">Общие настройки</a>

                </li>
                <li class="has-submenu">
                    <a href="~/admin/products">Продукция</a>

                </li>
                <li class="has-submenu">
                    <a href="~/admin/offers">Предложения</a>

                </li>
                <li class="has-submenu">
                    <a href="#">Преимущества</a>

                </li>
                <li class="has-submenu">
                    <a href="#">Контакты</a>

                </li>

            </ul>
        </nav><!-- Site Navigation End -->
 
    </div>
</header><!-- Navbar End -->

