<!-- Panels Light Skin -->
<section class="section-fw section-css-parallax padding-top-2x padding-bottom" style="background-color: #f2b613;">@**@
    <div class="container">
        <div class="text-center" style="margin: 36px;">
            <h2 style="color: rgba(67, 31, 5, 1);">
                ВАЖНЫЕ ПРИЧИНЫ, ПОЧЕМУ ВЫ ОСТАНЕТЕСЬ
                ДОВОЛЬНЫ СОТРУДНИЧЕСТВОМ
            </h2>
        </div>
        <!-- Switch to light skin by addin class ".text-light" to the parent element or to ".panel" directly. -->
        <div class="row text-light" >
            <div class="col-md-4"  style="color: rgba(67, 31, 5, 1); padding:0 25px;">
                <div class="animation" data-animation="fadeInRight">
                    <h3 class="space-bottom text-center"><i class="pe-7s-hammer" style="font-size:55px;"></i>
                        Своё
                        производство
                    </h3>
                    <p style="font-size:18px; text-align:justify">
                        Вы можете приобрести у нас партию любого объема благодаря собственным карьерам и производству.
                    </p>
                </div>
              
            </div>
            @*****************************************************@
        <div class="col-md-4" style="color: rgba(67, 31, 5, 1); padding:0 25px;">
            <div class="animation" data-animation="fadeInDown">
                <h3 class="space-bottom text-center">
                    <i class="pe-7s-gift" style="font-size:55px;"></i>
                    Удобная
                    доставка
                </h3>
                <p style="font-size:18px; text-align:justify">
                    Снижайте расходы на доставке и экономьте свое время — мы организуем поставку камня в любой город России удобным вам способом.
                </p>
            </div>


        </div>
            @*****************************************************@
        <div class="col-md-4" style="color: rgba(67, 31, 5, 1); padding:0 25px;">
            <div class="animation" data-animation="fadeInLeft">
                <h3 class="space-bottom text-center">
                    <i class="pe-7s-piggy" style="font-size:55px;"></i>
                    Сниженные
                    цены
                </h3>
                <p style="font-size:18px; text-align:justify">
                    Воспользуйтесь лучшими условиями, покупая камень по цене на 15 % ниже, чем у других. Для оптовиков действуют специальные условия.
                </p>
            </div>


        </div>
        </div>
    </div>
</section>


<!-- Hero -->
<section class="section-fw section-css-parallax text-light space-bottom-3x" style="background-image:url(img/homepage/corporate/fullwidth-slider/back01.jpg);">
    <div class="container text-default">
        <div class="row" style="margin-top:80px;margin-bottom:100px;">
            
           
        </div>
    </div>

</section><!-- Hero End -->



