<!-- Panels Light Skin -->
<section class="section-fw section-css-parallax padding-top-2x padding-bottom" style="background-image: url(img/homepage/corporate/fullwidth-slider/mail-728589_19201.jpg);">@**@
    <div class="container">
        <div class="block-title on-light text-center">
            <h2 style="color:white;">Доставка</h2>
        </div>
        <!-- Switch to light skin by addin class ".text-light" to the parent element or to ".panel" directly. -->
        <div class="row text-light">
            <div class="col-md-4">
                <div class="animation" data-animation="fadeInRight">
                    <h3 class="space-bottom text-center">Доставка фурой <small>(от 100 м2)</small></h3>
                  
                </div>
              
            </div>
            @*****************************************************@
            <div class="col-md-4">
                <div class="animation" data-animation="fadeInDown">
                    <h3 class="space-bottom text-center">Доставка транспортной компанией <small>(от 20 м2)</small></h3>
                 
                </div>

           
            </div>
            @*****************************************************@
            <div class="col-md-4">
                <div class="animation" data-animation="fadeInLeft">
                    <h3 class="space-bottom text-center">Самовывоз <small>(от 1 м2)</small></h3>
                
                </div>

          
            </div>
        </div>
    </div>
</section>


<!-- Hero -->
<section class="section-fw section-css-parallax text-light space-bottom-3x" style="background-image:url(img/homepage/corporate/fullwidth-slider/back01.jpg);">
    <div class="container text-default">
        <div class="row" style="margin-top:80px;margin-bottom:100px;">
            
           
        </div>
    </div>

</section><!-- Hero End -->



