<!-- Panels Light Skin -->
<section class="section-fw section-css-parallax padding-top-2x padding-bottom" style="background-image: url(img/homepage/corporate/fullwidth-slider/demo-bg-dark.jpg);">
    <div class="container">
        @*<div class="block-title on-dark text-right">
            <h2>Доставка</h2>
        </div>*@
        <!-- Switch to light skin by addin class ".text-light" to the parent element or to ".panel" directly. -->
        <div class="row text-light">
            <div class="col-md-4">
                <div class="animation" data-animation="fadeInRight">
                    <h4 class="space-bottom">Доставка фурой <small>(от 100 м2)</small></h4>
                    <div class="panel panel-with-badge">
                        <div class="panel-heading">
                            <span class="badge badge-success flaticon-newspaper7"></span>
                            <h3>Заявка</h3>
                        </div>
                        <div class="panel-body size-sm">
                            Оставляете заявку на сайте или звоните по номеру 8(800)550-4-880.
                        </div>
                    </div>
                </div>
                <div class="animation" data-animation="fadeInRight">
                    <div class="panel panel-with-badge">
                        <div class="panel-heading">
                            <span class="badge badge-success flaticon-newspaper7"></span>
                            <h3>Рачет</h3>
                        </div>
                        <div class="panel-body size-sm">
                            Получаете расчет заказа и доставки
                        </div>
                    </div>
                </div>
                <div class="animation" data-animation="fadeInRight">
                    <div class="panel panel-with-badge">
                        <div class="panel-heading">
                            <span class="badge badge-success flaticon-newspaper7"></span>
                            <h3>Оформление</h3>
                        </div>
                        <div class="panel-body size-sm">
                            Заказываете камень фурой с доставкой до объекта
                        </div>
                    </div>
                </div>
                <div class="animation" data-animation="fadeInRight">
                    <div class="panel panel-with-badge">
                        <div class="panel-heading">
                            <span class="badge badge-success flaticon-newspaper7"></span>
                            <h3>Оплата</h3>
                        </div>
                        <div class="panel-body size-sm">
                            Оплачиваете полученный заказ
                            на вашем объекте
                        </div>
                    </div>
                </div>
            </div>
            @*****************************************************@
            <div class="col-md-4">
                <div class="animation" data-animation="fadeInDown">
                    <h4 class="space-bottom">Доставка транспортной компанией <small>(от 20 м2)</small></h4>
                    <div class="panel panel-with-badge">
                        <div class="panel-heading">
                            <span class="badge badge-success flaticon-newspaper7"></span>
                            <h3>Заявка</h3>
                        </div>
                        <div class="panel-body size-sm">
                            Оставляете заявку на сайте или звоните по номеру 8(800)550-4-880.
                        </div>
                    </div>
                </div>

                <div class="animation" data-animation="fadeInDown">
                    <div class="panel panel-with-badge">
                        <div class="panel-heading">
                            <span class="badge badge-success flaticon-newspaper7"></span>
                            <h3>Расчет</h3>
                        </div>
                        <div class="panel-body size-sm">
                            Получаете расчет заказа
                            и доставки
                        </div>
                    </div>
                </div>
                <div class="animation" data-animation="fadeInDown">
                    <div class="panel panel-with-badge">
                        <div class="panel-heading">
                            <span class="badge badge-success flaticon-newspaper7"></span>
                            <h3>Оплата</h3>
                        </div>
                        <div class="panel-body size-sm">
                            Оплачиваете выставленный счет
                        </div>
                    </div>
                </div>
                <div class="animation" data-animation="fadeInDown">
                    <div class="panel panel-with-badge">
                        <div class="panel-heading">
                            <span class="badge badge-success flaticon-newspaper7"></span>
                            <h3>Доставка</h3>
                        </div>
                        <div class="panel-body size-sm">
                            Заказываете доставку камня транспортной компанией
                        </div>
                    </div>
                </div>
                <div class="animation" data-animation="fadeInDown">
                    <div class="panel panel-with-badge">
                        <div class="panel-heading">
                            <span class="badge badge-success flaticon-newspaper7"></span>
                            <h3>Получение</h3>
                        </div>
                        <div class="panel-body size-sm">
                            Получаете свой заказ точно
                            в указанном месте
                        </div>
                    </div>
                </div>


            </div>
            @*****************************************************@
            <div class="col-md-4">
                <div class="animation" data-animation="fadeInLeft">
                    <h4 class="space-bottom">Самовывоз <small>(от 1 м2)</small></h4>
                    <div class="panel panel-with-badge">
                        <div class="panel-heading">
                            <span class="badge badge-success flaticon-newspaper7"></span>
                            <h3>Заявка</h3>
                        </div>
                        <div class="panel-body size-sm">
                            Оставляете заявку на сайте или звоните по номеру 8(800)550-4-880.
                        </div>
                    </div>
                </div>

                <div class="animation" data-animation="fadeInLeft">
                    <div class="panel panel-with-badge">
                        <div class="panel-heading">
                            <span class="badge badge-success flaticon-newspaper7"></span>
                            <h3>Расчет</h3>
                        </div>
                        <div class="panel-body size-sm">
                            Получаете расчет заказа
                            и доставки
                        </div>
                    </div>
                </div>

                <div class="animation" data-animation="fadeInLeft">
                    <div class="panel panel-with-badge">
                        <div class="panel-heading">
                            <span class="badge badge-success flaticon-newspaper7"></span>
                            <h3>Оплата</h3>
                        </div>
                        <div class="panel-body size-sm">
                            Забираете свой заказ с наших
                            карьеров и оплачиваете на
                            месте
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>


<!-- Hero -->
<section class="section-fw section-css-parallax text-light space-bottom-3x" style="background-image:url(img/homepage/corporate/fullwidth-slider/par4.jpg);">
    <div class="container text-default">
        <div class="row" style="margin-top:140px;margin-bottom:100px;">
            
           
        </div>
    </div>

</section><!-- Hero End -->



