<section>
    <div class="row">
        <div class="col-md-1 col-sm-1">

        </div>
        <div class="col-md-4 col-sm-4">
            <a id="order-price2" href="#order-priceForm" class="btn btn-lg btn-ghost btn-primary waves-effect waves-light icon-left" style="height:86px; line-height: 86px;padding-top:0;width:100%;font-size:18px;font-weight:600;">

                <i style="font-size:24px;font-weight:600;" class="pe-7s-cart"></i>
                Заказать прайс
            </a>
        </div>
        <div class="col-md-2 col-sm-2">

        </div>
        <div class="col-md-4 col-sm-4">
            <a id="order-call2" href="#order-callForm" class="btn btn-lg btn-primary waves-effect waves-light icon-left" style="height:86px; line-height: 86px;padding-top:0;width:100%;font-size:18px;font-weight:600;">
                <i style="font-size:24px;font-weight:600;" class="pe-7s-call"></i>
                Обратный звонок
            </a>
        </div>
        <div class="col-md-2 col-sm-1">

        </div>
     
               
          

               
       
    </div>
</section>
