<!-- Navbar -->
<!-- Add class ".navbar-sticky" to make navbar stuck when it hits the top of the page. You can also use modifier classes like: "navbar-dark", "navbar-ghost navbar-ghost-light", .navbar-ghost navbar-ghost-dark" to change navbar apperance. The screen width at which navbar collapses can be controlled through the variable "nav-collapse" in less/variables.less -->
<header class="navbar navbar-sticky">
    <div class="container">
        <!-- Logo icon width can be adjusted trough the variable 'logo-img-max-width' in less/variables.less. The logo width (icon + text) can be adjusted trough the variable 'logo-max-width' in less/variables.less. -->
        <a href="~/" class="logo">
            <img src="~/img/logo/logo007.png" alt="Лемезит" style="max-width:250px;">
           @* <span style="top: 4px; position: relative;">Лемезит</span>*@
        </a>

        <!-- Site Navigation -->
        <nav class="navbar-nav" id="site-menu">


            <!-- Navigation -->
            <ul>
                <li class="has-mega-menu active">
                    <a href="#">Главная</a>

                </li>
                <li class="has-submenu">
                    <a href="#">Каталог</a>

                </li>
                <li class="has-submenu">
                    <a href="#">О нас</a>

                </li>
                <li class="has-submenu">
                    <a href="#">Преимущества</a>

                </li>
                <li class="has-submenu">
                    <a href="#">Контакты</a>

                </li>

            </ul>
        </nav><!-- Site Navigation End -->
        <!-- Toolbar -->
        <nav class="navbar-tools" style="height:36px;">
            <ul>

               
                <li class="navbar-ghos">


                    <a id="order-call" href="#order-callForm" class="btn btn-primary waves-effect waves-light icon-left" style="height:36px;    line-height: 36px;">
                        <i class="pe-7s-call"></i>
                        Обратный звонок
                    </a>
                </li>

              
                <!-- Navigation Toggle -->
                <li class="nav-toggle cbutton cbutton--effect">
                    <a href="#" class="flaticon-list26" data-nav-target="#site-menu"></a>
                </li>
            </ul>
        </nav>
    </div>
</header><!-- Navbar End -->

<div style="display:none;">
    <div id="order-callForm">

    </div>
</div>

