<!-- Navbar -->
<!-- Add class ".navbar-sticky" to make navbar stuck when it hits the top of the page. You can also use modifier classes like: "navbar-dark", "navbar-ghost navbar-ghost-light", .navbar-ghost navbar-ghost-dark" to change navbar apperance. The screen width at which navbar collapses can be controlled through the variable "nav-collapse" in less/variables.less -->
<header class="navbar navbar-sticky">
    <div class="container">
        <!-- Logo icon width can be adjusted trough the variable 'logo-img-max-width' in less/variables.less. The logo width (icon + text) can be adjusted trough the variable 'logo-max-width' in less/variables.less. -->
        <a href="index.html" class="logo">
            <img src="img/logo/logo.png" alt="Лемезит">
            <span>Лемезит</span>
        </a>

        <!-- Site Navigation -->
        <nav class="navbar-nav" id="site-menu">


            <!-- Navigation -->
            <ul>
                <li class="has-mega-menu active">
                    <a href="#">Главная</a>

                </li>
                <li class="has-submenu">
                    <a href="#">Каталог</a>

                </li>
                <li class="has-submenu">
                    <a href="#">О нас</a>

                </li>
                <li class="has-submenu">
                    <a href="#">Преимущества</a>

                </li>
                <li class="has-submenu">
                    <a href="#">Контакты</a>

                </li>

            </ul>
        </nav><!-- Site Navigation End -->
        <!-- Toolbar -->
        <nav class="navbar-tools">
            <ul>

                @*<!-- Sign Up -->
                <li class="signup-btn"><a href="#" data-toggle="modal" data-target="#login-modal" data-modal-form="sign-up">Sign Up</a></li>

                <!-- Login -->
                <li class="login-btn"><a href="#" data-toggle="modal" data-target="#login-modal" data-modal-form="sign-in">Login</a></li>*@

                <!-- Search -->
                <li class="navbar-search cbutton cbutton--effect">
                    <a href="#" data-toggle="modal" data-target="#search-modal" class="pe-7s-search"></a>
                </li>

                @*<!-- Cart Button -->
                <li class="cart-btn cbutton cbutton--effect">
                    <a href="shopping-cart.html">
                        <i class="pe-7s-cart">
                            <span class="count">3</span>
                        </i>
                    </a>
                    <!-- Cart Dropdown -->
                    <div class="dropdown">
                        <div class="cart-dropdown">
                            <div class="item">
                                <a class="thumb" href="shop-single-v1.html"><img src="img/shop/cart/dropdown/th01.png" alt="Thumbnail"></a>
                                <div class="title-description">
                                    <a href="shop-single-v1.html">Bright Scarf</a>
                                    <p>Lorem ipsum dolor sit amet consectetur</p>
                                </div>
                                <div class="price-quantity">
                                    <span class="delete">&times;</span>
                                    <div class="price"><span>1 x </span>$865</div>
                                </div>
                            </div>
                            <div class="item">
                                <a class="thumb" href="shop-single-v1.html"><img src="img/shop/cart/dropdown/th02.png" alt="Thumbnail"></a>
                                <div class="title-description">
                                    <a href="shop-single-v1.html">Sun glasses</a>
                                    <p>Lorem ipsum dolor sit amet consectetur</p>
                                </div>
                                <div class="price-quantity">
                                    <span class="delete">&times;</span>
                                    <div class="price"><span>1 x </span>$230</div>
                                </div>
                            </div>
                            <div class="item">
                                <a class="thumb" href="shop-single-v1.html"><img src="img/shop/cart/dropdown/th03.png" alt="Thumbnail"></a>
                                <div class="title-description">
                                    <a href="shop-single-v1.html">Faded jeans</a>
                                    <p>Lorem ipsum dolor sit amet consectetur</p>
                                </div>
                                <div class="price-quantity">
                                    <span class="delete">&times;</span>
                                    <div class="price"><span>1 x </span>$540</div>
                                </div>
                            </div>
                            <div class="total">
                                Cart subtotal:
                                <span>$1635</span>
                            </div>
                        </div>
                        <div class="dropdown-footer">
                            <div class="column">
                                <a href="shopping-cart.html" class="btn btn-ghost btn-primary btn-block">View Cart</a>
                            </div>
                            <div class="column">
                                <span class="text-muted">or</span>
                            </div>
                            <div class="column">
                                <a href="checkout.html" class="btn btn-success btn-block">Checkout</a>
                            </div>
                        </div>
                    </div>
                </li>*@

                <!-- Navigation Toggle -->
                <li class="nav-toggle cbutton cbutton--effect">
                    <a href="#" class="flaticon-list26" data-nav-target="#site-menu"></a>
                </li>
            </ul>
        </nav>
    </div>
</header><!-- Navbar End -->
