<!-- Navbar -->
<!-- Add class ".navbar-sticky" to make navbar stuck when it hits the top of the page. You can also use modifier classes like: "navbar-dark", "navbar-ghost navbar-ghost-light", .navbar-ghost navbar-ghost-dark" to change navbar apperance. The screen width at which navbar collapses can be controlled through the variable "nav-collapse" in less/variables.less -->
<header class="navbar navbar-sticky">
    <div class="container">
        <a href="~/" class="logo">
            <img src="~/img/logo/logo007.png" alt="Лемезит" style="max-width:250px;">
        </a>

        <!-- Site Navigation -->
        <nav class="navbar-nav" id="site-menu">
            <p style="text-align: left; color: darkslategrey; font-size: 35px; margin-left: 280px;margin-top:20px;">
                <i class="pe-7s-call"></i> 8(922)188-29-29
            </p>
            <!-- Navigation -->
         
        </nav><!-- Site Navigation End -->
        <!-- Toolbar -->
        <nav class="navbar-tools" style="height:36px; margin-top:20px;">
            <ul>

               <li class="navbar-ghos">
                   <a id="order-price" href="#order-priceForm"  class="btn btn-xs btn-ghost btn-primary waves-effect waves-light icon-left" style="height:36px; line-height: 36px;padding-top:0;">

                       <i class="pe-7s-cart"></i>
                       Заказать прайс
                   </a>
               </li>
                <li class="navbar-ghos">


                    <a id="order-call" href="#order-callForm" class="btn btn-xs btn-primary waves-effect waves-light icon-left" style="height:36px; line-height: 36px;">
                        <i class="pe-7s-call"></i>
                        Обратный звонок
                    </a>
                </li>

                <li class="navbar-ghos">


                    <a id="order-payment" href="#order-paymentForm" class="btn btn-xs btn-ghost btn-primary waves-effect waves-light icon-left" style="height:36px; line-height: 36px;padding-top:0;">
                        <i class="pe-7s-credit"></i>
                        Внести платеж
                    </a>
                </li>

              
                <!-- Navigation Toggle -->
                <li class="nav-toggle cbutton cbutton--effect">
                    <a href="#" class="flaticon-list26" data-nav-target="#site-menu"></a>
                </li>
            </ul>
        </nav>
    </div>
</header><!-- Navbar End -->

<div style="display:none;">
    <div id="order-callForm">

    </div>
</div>

<div style="display:none;">
    <div id="order-priceForm">

    </div>
</div>


