 <!-- Full Width Slider -->
<section class="rev-slider-container">
    <div class="rev-slider" id="fw-corp-slider">
        <ul>

            <!-- Slide -->
            <li data-transition="zoomout" data-slotamount="5" data-masterspeed="1000" data-title="плитняк лемезит">

                <!-- Main Image -->
                <img src="img/homepage/corporate/fullwidth-slider/slide001.jpg" alt="Main Image">

                <!-- Layer 1 -->
                <div class="tp-caption customin tp-fade fadeout"
                     data-x="center"
                     data-y="top"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="800"
                     data-start="1200"
                     data-easing="Power3.easeInOut"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="600">
                    <img src="img/homepage/corporate/fullwidth-slider/layer002.png" alt="Layer">
                </div>
            </li>

            <!-- Slide -->
            <li data-transition="papercut" data-slotamount="5" data-masterspeed="800" data-title="Плитняк-Лемезит">

                <!-- Main Image -->
                <img src="img/homepage/corporate/fullwidth-slider/kamin.jpg" alt="Main Image">

                <!-- Layer 1 -->
                <div class="tp-caption text-info lfr randomrotateout tp-resizeme"
                     data-x="530"
                     data-y="85"
                     data-speed="1000"
                     data-start="2000"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-end="10500"
                     data-endspeed="1000"
                     style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap; font-size: 60px; ">
                    Лемезит<span style="font-size: 30px; vertical-align: top;">&reg;</span>
                </div>

                <!-- Layer 2 -->
                <div class="tp-caption black_heavy_60 customin randomrotateout tp-resizeme"
                     data-x="540"
                     data-y="185"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-speed="1000"
                     data-start="2600"
                     data-easing="Power4.easeOut"
                     data-splitin="chars"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-end="10700"
                     data-endspeed="1000"
                     style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap; font-size: 35px; font-weight: 300;">
                    8 лет успешного производства
                </div>

                <!-- Layer 3 -->
                <div class="tp-caption caption-black-bg skewfromright randomrotateout tp-resizeme"
                     data-x="540"
                     data-y="270"
                     data-speed="1000"
                     data-start="3500"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-end="10900"
                     data-endspeed="1000"
                     style="z-index: 11; max-width: auto; max-height: auto; white-space: nowrap;">
                    50 м<sup>2</sup> – инимальная партия груза
                </div>

                <!-- Layer 4 -->
                <div class="tp-caption caption-black-bg skewfromright randomrotateout tp-resizeme"
                     data-x="540"
                     data-y="315"
                     data-speed="1000"
                     data-start="3600"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-end="11100"
                     data-endspeed="1000"
                     style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">
                    5 грузовых машин в нашем автопарке
                </div>

                <!-- Layer 5 -->
                <div class="tp-caption caption-black-bg skewfromright randomrotateout tp-resizeme"
                     data-x="540"
                     data-y="360"
                     data-speed="1000"
                     data-start="3700"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-end="11200"
                     data-endspeed="1000"
                     style="z-index: 13; max-width: auto; max-height: auto; white-space: nowrap;">
                    564 фуры было отгружено в 2017 году
                </div>

                <!-- Layer 6 -->
                <div class="tp-caption caption-black-bg skewfromright randomrotateout tp-resizeme"
                     data-x="540"
                     data-y="405"
                     data-speed="1000"
                     data-start="3800"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-end="11400"
                     data-endspeed="1000"
                     style="z-index: 14; max-width: auto; max-height: auto; white-space: nowrap;">
                    Реализовали более 1600 проектов
                </div>

                <!-- Layer 7 -->
                <div class="tp-caption caption-black-bg bg-solid-info skewfromright randomrotateout tp-resizeme"
                     data-x="540"
                     data-y="450"
                     data-speed="1000"
                     data-start="3900"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-end="11600"
                     data-endspeed="1000"
                     style="z-index: 15; max-width: auto; max-height: auto; white-space: nowrap;">
                    Многое другое ...
                </div>
            </li>

            <!-- Slide -->
            <li data-transition="curtain-3" data-slotamount="5" data-masterspeed="800" data-title="плитняк лемезит">

                <!-- Main Image -->
                <img src="img/homepage/corporate/fullwidth-slider/slide003.jpg" alt="Main Image">
            </li>
        </ul>
    </div>
</section><!-- Full Width Slider End -->
