 <!-- Full Width Slider -->
<section class="rev-slider-container">
    <div class="rev-slider" id="fw-shop-slider">
        <ul>

            <!-- Slide -->
            <li data-transition="curtain-1" data-slotamount="5" data-masterspeed="700" data-title="Perfume Madness">

                <!-- Main Image -->
                <img src="img/homepage/shop/fullwidth-slider/slide1/main.jpg" alt="BG">

                <!-- Layer 1 -->
                <div class="tp-caption skewfromrightshort fadeout tp-resizeme text-light"
                     data-x="100"
                     data-y="282"
                     data-speed="500"
                     data-start="1500"
                     data-easing="Power3.easeInOut"
                     data-splitin="chars"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap; font-size: 100px; font-weight: 300;">
                    <h2>PERFUME</h2>
                </div>

                <!-- Layer 2 -->
                <div class="tp-caption skewfromrightshort fadeout tp-resizeme text-light"
                     data-x="100"
                     data-y="390"
                     data-speed="700"
                     data-start="1800"
                     data-easing="Power3.easeInOut"
                     data-splitin="chars"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap; font-size: 100px; font-weight: 300; font-style: italic;">
                    <h2>MADNESS</h2>
                </div>

                <!-- Layer 3 -->
                <div class="tp-caption lfr tp-resizeme"
                     data-x="770"
                     data-y="top"
                     data-speed="500"
                     data-start="2900"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     style="z-index: 1;">
                    <img src="img/homepage/shop/fullwidth-slider/slide1/layer01.png" alt="Layer">
                </div>

                <!-- Layer 4 -->
                <div class="tp-caption customin fadeout tp-resizeme"
                     data-x="1240"
                     data-y="230"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="600"
                     data-start="3400"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-endspeed="100"
                     style="z-index: 2;">
                    <img src="img/homepage/shop/fullwidth-slider/slide1/layer02.png" alt="Layer">
                </div>

                <!-- Layer 5 -->
                <div class="tp-caption sfb"
                     data-x="1240"
                     data-y="210"
                     data-speed="800"
                     data-start="4200"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn"
                     style="z-index: 3;">
                    <span class="tp-resizeme shop-old-price text-light">$165</span>
                </div>

                <!-- Layer 6 -->
                <div class="tp-caption sfb"
                     data-x="1230"
                     data-y="70"
                     data-speed="800"
                     data-start="4400"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn"
                     style="z-index: 3;">
                    <h2 style="font-size: 110px;" class="tp-resizeme shop-price text-light">$128</h2>
                </div>
            </li>

            <!-- Slide -->
            <li data-transition="boxslide" data-slotamount="5" data-masterspeed="700" data-title="Colorful Glasses">

                <!-- Main Image -->
                <img src="img/homepage/shop/fullwidth-slider/slide2/main.jpg" alt="BG">

                <!-- Layer 1 -->
                <div class="tp-caption sfl tp-resizeme text-light"
                     data-x="100"
                     data-y="160"
                     data-speed="500"
                     data-start="1100"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn">
                    <h2 style="font-size: 110px;">COLORFUL</h2>
                </div>

                <!-- Layer 2 -->
                <div class="tp-caption sfb tp-resizeme text-light"
                     data-x="100"
                     data-y="300"
                     data-speed="500"
                     data-start="1300"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn">
                    <h2 style="font-size: 110px; font-weight: bold; font-style: italic;">GLASSES</h2>
                </div>

                <!-- Layer 3 -->
                <div class="tp-caption lfr tp-resizeme"
                     data-x="right"
                     data-y="top"
                     data-speed="500"
                     data-start="1500"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     style="z-index: 1;">
                    <img src="img/homepage/shop/fullwidth-slider/slide2/layer01.png" alt="Layer">
                </div>

                <!-- Layer 4 -->
                <div class="tp-caption customin fadeout tp-resizeme"
                     data-x="970"
                     data-y="365"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="600"
                     data-start="2000"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-endspeed="100"
                     style="z-index: 2;">
                    <img src="img/homepage/shop/fullwidth-slider/slide2/layer02.png" alt="Layer">
                </div>

                <!-- Layer 5 -->
                <div class="tp-caption sfb"
                     data-x="1210"
                     data-y="280"
                     data-speed="800"
                     data-start="2800"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn"
                     style="z-index: 3;">
                    <span class="tp-resizeme shop-old-price text-light">$78</span>
                </div>

                <!-- Layer 6 -->
                <div class="tp-caption sfb"
                     data-x="1200"
                     data-y="150"
                     data-speed="800"
                     data-start="3000"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn"
                     style="z-index: 3;">
                    <h2 style="font-size: 110px;" class="tp-resizeme shop-price text-light">$48</h2>
                </div>
            </li>

            <!-- Slide -->
            <li data-transition="papercut" data-slotamount="5" data-masterspeed="700" data-title="Boom-Boom!">

                <!-- Main Image -->
                <img src="img/homepage/shop/fullwidth-slider/slide3/main.jpg" alt="BG">

                <!-- Layer 1 -->
                <div class="tp-caption sfb text-light tp-resizeme"
                     data-x="700"
                     data-y="335"
                     data-speed="800"
                     data-start="1200"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn">
                    <h2 style="font-size: 110px;">BOOM-</h2>
                </div>

                <!-- Layer 2 -->
                <div class="tp-caption sfb text-light tp-resizeme"
                     data-x="700"
                     data-y="465"
                     data-speed="800"
                     data-start="1400"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn">
                    <h2 style="font-size: 110px;">BOOM!</h2>
                </div>

                <!-- Layer 3 -->
                <div class="tp-caption customin fadeout tp-resizeme"
                     data-x="left"
                     data-y="30"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="800"
                     data-start="1800"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-endspeed="100">
                    <img src="img/homepage/shop/fullwidth-slider/slide3/layer01.png" alt="Layer">
                </div>

                <!-- Layer 5 -->
                <div class="tp-caption sfb"
                     data-x="710"
                     data-y="260"
                     data-speed="800"
                     data-start="2800"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn"
                     style="z-index: 3;">
                    <span class="tp-resizeme shop-old-price text-light">$209</span>
                </div>

                <!-- Layer 6 -->
                <div class="tp-caption sfb"
                     data-x="700"
                     data-y="130"
                     data-speed="800"
                     data-start="3000"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn"
                     style="z-index: 3;">
                    <h2 style="font-size: 110px;" class="tp-resizeme shop-price text-light">$149</h2>
                </div>
            </li>
        </ul>
    </div>
</section><!-- Full Width Slider End -->
