<div class="top-bar">
    <div class="container text-center" style="font-size:25px;">

        <i class="glyphicon glyphicon-phone-alt"></i> 8(800)550-4-880


            @*<div class="social-buttons">
                <a href="#" class="sb-twitter cbutton cbutton--effect"><i class="bi-twitter"></i></a>
                <a href="#" class="sb-google-plus cbutton cbutton--effect"><i class="bi-gplus"></i></a>
                <a href="#" class="sb-facebook cbutton cbutton--effect"><i class="bi-facebook"></i></a>
                <a href="#" class="sb-skype"><i class="bi-skype"></i>8guild</a>

            </div>*@


            @*<ul class="switchers">
                <!-- Language Switcher -->
                <li>
                    <a href="#">Usd</a>
                    <ul class="dropdown">
                        <li><a href="#">Usd</a></li>
                        <li><a href="#">Eur</a></li>
                        <li><a href="#">Chf</a></li>
                    </ul>
                </li>
                <!-- Language Switcher -->
                <li>
                    <a href="#">En</a>
                    <ul class="dropdown">
                        <li><a href="#">De</a></li>
                        <li><a href="#">Fr</a></li>
                        <li><a href="#">Ru</a></li>
                    </ul>
                </li>
            </ul>*@
        </div>
</div>
