@model Stromatolite.Models.NotificationEmail

@{
    Layout = null;
}

<h3>Удалить этот адрес электронной почты из списка оповещения?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    @using (Ajax.BeginForm("_DeleteConfirmed", "NotificationEmails", new { Area = "Admin", id = Model.NotificationEmailID }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tab-notEmail" }, null))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
        </div>
    }
</div>
